<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnnVirpo" connectionString="Data Source=WSMATI;Initial Catalog=VirpoDB;Integrated Security=True" />
    <add name="CapaDatos.Properties.Settings.VirpoDBConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\VirpoDB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>