.modalBackground
{
      background-color: Gray;
      filter: alpha(opacity=60);
      opacity: 0.6;
}
 
.modalPopup
{
      background-color:Azure;
      border-width:3px;
      border-style:solid;
      border-color:Gray;
      padding:5px;
     
}
