html, body, ul, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
}

tituloSubVentana

{
              font-family: times, Times New Roman, times-roman, georgia, serif;
	color: white;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;


} 

   itemFormulario
   {
       
        font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;

       
       
       }
    
h1 img {
	display: block;
}
img {
	border-style: none;
    border-color: inherit;
    border-width: 0;
    width: 54px;
    height: 54px;
	font-family: "Arial Black";
}
a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	margin-left: 0px;
}
a:hover {
	color: #f00;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}
body {
	text-align: center;
	font: 12px arial, sans-serif;
	background: #eee;
}
#outer {
	background: url('../images/header_bg.jpg') repeat-x center top;
}
#wrapper {
	text-align: left;
	margin: auto;
	width: 756px;
}

#header {
	/**background: top left url(images/logo.gif) no-repeat;**/
	height: 78px;
}
#header h1 {
	color: #FD2E00;
	font-weight: normal;
	font-size: 22px;
	padding: 20px 0 0 70px;
	margin: 0;
}
#header p {
	color: #333333;
	padding: 0 0 10px 70px;
	margin: 0;
}
#nav {
	background: url('../images/header_c_bg.gif') repeat-x;
	position: relative;
	height: 370px;
}
#nav a {
	color: #E7E4E4;
	text-decoration: none;
}
#nav a:hover {
	color: #fff;
	text-decoration: none;
}
#nav ul {
	padding: 70px 0 0 382px;
	margin: 0;
	position: relative;
	z-index: 1;
}
#nav li {
	background: url('../images/bullet.gif') no-repeat left center;
	padding: 2px 0 8px 30px;
	margin: 0;
}
#nav li#m1 { margin-left: 19px; }
#nav li#m2 { margin-left: 11px; }
#nav li#m3 { margin-left: 3px; }
#nav li#m4 { margin-left: 0px;  }
#nav li#m5 { margin-left: 2px; }
#nav li#m6 { margin-left: 8px; }
#nav li#m7 { margin-left: 28px; }
#nav a {
	font-weight: normal;
}
#search {
	margin: 3px 0 0 400px;
	height: 90px;
}
#search h2 {
	font-weight: normal;
}
#search form {
	margin: 0;
	padding: 0 0 10px 0;
}
#search input.text {
	border: 1px solid #333;
	background: #E7E4E4;
}
#search input.submit {
	border: none;
	background: #E7E4E4;
}
#search a {
	color: #333;
	padding: 0 5px;
}
#search a:hover {
	color: #300;
}
#head {
	background: url('../images/header.jpg') no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 382px;
	height: 370px;
}
#head-pip {
	background: url('../images/header_pip.jpg') no-repeat;
	position: absolute;
	top: 0;
	left: 382px;
	width: 48px;
	height: 94px;			
}

#body {
	background: #EEEEEE url('../images/body_bg.gif') repeat-y left top;
	position: relative;
	left: 3px;
	width: 752px;
    top: 0px;
}
#body-inner {
	padding: 28px 23px 28px 31px;
}
#body-left {
	float: left;
	width: 281px;
	height: 368px;
}
#body-right {
	float: right;
	width: 384px;
	height: 316px;
}
#topic-pic {
	background: #666;
	padding: 10px;
}
#body-left h2 {
	background: #202020;
	font-size: 15px;
	color: #fff;
	padding: 6px 23px;
	margin: 6px 0 20px 0;
	height: 19px;
}
#body-left ul {
	margin: 30px 55px;
}
#body-left li {
	margin: 5px;
}

#body-right .box {
	padding: 10px;
	background: #fff;
	border: 1px solid #999;
	margin: 2em 0;
	height: 56px;
	width: 382px;
}
#body-right h2 {
	font: 18px "arial narrow", arial, sans-serif;
}
#body-right .box p {
	margin: 0 0 1em 0;
}
#body-right .box .left {
	margin-right: 15px;
	border: 1px solid #999;
}
#body-right .box .btns {
	text-align: right;
	padding-top: 10px;
	position: relative;
}
.btns a {
	border-left: 2px solid #9C2828;
	border-right: 2px solid #650000;
	border-top: 2px solid #E68282;
	border-bottom: 2px solid #650000;
	background: #CC0000 url('../images/btn.gif') repeat-y left 50%;
	color: #fff;
		font-weight: normal;
		padding: 3px 15px 3px 20px;
		position: relative;
}
.btns a:hover {
	background-color: #EF1818;
	color: #fff;
}

#copyright {
	background: url('../images/footer_bg.gif') repeat-x left top;
	float: right;
	width: 425px;
	clear: both;
	margin-right: 9px;
	padding-bottom: 30px;
	_margin-right: 5px;
	vertical-align: bottom;
	
}

#copyright-left {
	background: url('../images/footer_left.gif') no-repeat left top;
	
	padding: 27px 30px;
	font-size: 11px;
	text-align: center;
	vertical-align: bottom;
}

#col1 {
    width: 222px;
    float: left;
       
    }
    
    #col2 {
    width: 400px;
	float: left;
    height: 13px;
}
    
    #col3 {
    width: 125px;
    float: left;
    height: 94px;
	}
	
	#label1 
	{
	    
	    font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
	    
	    }
	
.tituloMenu
{	color:WindowFrame;
	font-size:x-large;
	font-family: "Colonna MT";
}
.subMenu
{
	color :Olive;
	font-size:small;
	 background-color:Transparent;
	 height:20px;
	 width:156px;
	 border-bottom-style:hidden;
	 text-align:left;
	font-style: italic;
}
.tituloPanel
{
	color :black;
	font-size:x-large;
	font-family: "Colonna MT";
}










body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 80%;
	font-weight: bold;
	}	
	
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
/* =-=-=-=-=-=-=-[Menu Eight]-=-=-=-=-=-=-=- */



#menu8 {
	width: 200px;
	margin-left: 10px;
	}
	
#menu8 li a {
	text-decoration: none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	}

#menu8 {
	width: 200px;
	margin-left: 10px;
	}
	
#menu8 li a {
	text-decoration: none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	}
	
#menu8 li a:link,#menu8 li a:visited  {
	color: #777;
	display: block;
	background: url('../images/menu8.gif');
	padding: 8px 0 0 20px;
	}
	
#menu8 li a:hover {
	color: #257EB7;
	background: url('../images/menu8.gif') 0 -32px;
	padding: 8px 0 0 25px;
	}
	
#menu8 li a:active {
	color: #fff;
	display: block;
	background: url('../images/menu8.gif') 0 -64px;
	padding: 8px 0 0 25px;
	}
	

	
	
	

/*GridViewCSS*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d1d1d 5px solid;
	margin-right: 78px;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background-image: url('../Images/HeaderGlassBlack.jpg');
    background-position:center;
    background-repeat:repeat-x;
    background-color:#1d1d1d;
}
.HeaderStyle th
{
    padding: 5px;
    color: #ffffff;
}
.HeaderStyle a
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:5px;
}
.PagerStyle td
{
    border-top: #1d1d1d 3px solid;
}
.PagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.PagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.RowStyle td
{
    background-color: #c9c9c9;
}
.AltRowStyle td
{
    background-color: #f0f0f0;
}
.SelectedRowStyle td
{
    background-color: #ffff66;
}

.estiloLabel	
{
	 font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 14px;
        margin-top: .5em; color: #4E443C;
}

.estiloLabelpeque	
{
	 font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 11px;
        margin-top: .5em; color: #4E443C;
}

.botones {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #164BA0;
    background-color: #FFFFFF;
    border: 1px solid #41BDE8;  
} 


.estiloLabelCabecera	
{
	 font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 30px;
        margin-top: .5em; color: black;
}

.estiloLabelCabecera2	
{
	 font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 20px;
        margin-top: .5em; color: black;
}

.estiloLabelCabeceraPeque	
{
	 font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
        font-size: 15px;
        margin-top: .5em; color: red;
}

  .tituloInicio  
  
  {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;

   }
   
   .clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

.textbox
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9p
}

.loginboxdiv
{
 margin:0;
 height:21px;
 width:146px;
 background:url('../ImagenesSite/login_bg.gif') no-repeat 50% bottom;
}



.loginbox
{
 background:none;
 border:none;
 width:134px;
 height:15px;
 margin:0;
 padding: 2px 7px 0px 7px;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
}
	    

		.tabla {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;}

tabla a {color: #3A4856; text-decoration: none; border-bottom: 1px solid #C6C8CB;}  

tabla a:visited {color: #777;}

tabla a:hover {color: #000;}  

tabla caption {text-align: left; text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}

tabla thead th {background: #3A4856; padding: 15px 10px; color: #fff; text-align: left; font-weight: normal;}

tabla tbody, tabla thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}

tabla tbody {border-bottom: 1px solid #EAECEE;}
                      
tabla tbody td, tabla tbody th {padding: 10px; background: url("td_back.gif") repeat-x; text-align: left;}

tabla tbody tr {background: #F3F5F7;}

tabla tbody tr.odd {background: #F0F2F4;}

tabla tbody  tr:hover {background: #EAECEE; color: #111;}

tabla tfoot td, tabla tfoot th, tabla tfoot tr {text-align: left; font: 120%  "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif; text-transform: uppercase; background: #fff; padding: 10px;}
	
	
		